<% @last_trading_day = @stats.last.trading_day %>
<% @months_from_last = @last_trading_day.months_ago(6) %>
<% @fhhl_stats = @stats.last_num_months(@months_from_last) %>
<table title="Daily FH Breachs">
  <thead>
    <th>Breach at least One Side</th>
    <th>Breach Both Sides</th>
    <th>Breach High</th>
    <th>Breach Low</th>
  </thead>
  <tr>
    <td><%= number_to_percentage(@stats.count_breach_either_sc.to_f / @stats.all.size.to_f * 100, precision: 2) %></td>
   <td><%= @stats.count_breach_either_sc.as_percent_of(@stats.all.size) %></td>

  </tr>
  <tr><td><%= @fhhl_stats.size %></td>
  <td><%= x = @fhhl_stats.accum_count_breach_fhh_to_hash %></td></tr>
   <tr><td><%= @fhhl_stats.size %></td>
  <td><%= y = @fhhl_stats.count_breach_fhh_to_hash %></td>


  </tr>
</table>
