<% @on = @stats_hash[:on] %>
<table>
  <thead>
    <th></th>
    <% @on[:high].each do |k, v| %>
      <th><%= k %></th>
    <% end %>
    <th>Max</th>
  </thead>
  <% @on.except(:x).each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <% value.each do |k, v| %>
        <td><%= v %></td>
      <% end %>
      <td><%= value.max_by(&:last).last %></td>
    </tr>
  <% end %>
  <table>
    <% @on[:x].each do |k, v| %>
      <tr><td><%= k %></td>
      <td><%= v %></td></tr>
    <% end %>
  </table>
</table>
