
<% @onhl_stats = @stats.last_num_months(@months_from_last) %>
<% @total_days = @onhl_stats.size %>
<% @onhl_day_stats_hash = @onhl_stats.onhl_day_stats(@total_days) %>
<% @onhl_period_stats_hash = @onhl_stats.onhl_period_stats(@total_days) %>


<div class="container daily">
  <h2>Overnight High/Low (Daily Statistics)<br>
    <small>Chance of breaking overnight high or low during regular trading hours</small></h2>
  <table>
    <thead class="table-header">
      <th class="row-header onhl">Chance during day</th>
      <th class="col-both onhl">Breach both side</th>
      <th class="col-either onhl">Breach at least one side</th>
    </thead>
    <tbody>
      <tr class="table-row">
        <td class="row-header">Last 6 months</td>
        <td class="col-both"><%= @onhl_day_stats_hash[:onhl_both] %></td>
        <td class="col-either"><%= @onhl_day_stats_hash[:onhl_either] %></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="container period">
  <h2>Overnight High/Low (Period Statistics)<br>
    <small>Chance by period of overnight high or low</small></h2>
    <table>
      <caption>30 minute TPO periods at 8:30 CST</caption>
      <thead class="table-header">
        <th class="row-header onhl">Period Chance</th>
        <% @onhl_period_stats_hash[:onh_period].each do |k, v| %>
          <th class="col-<%= k %> onhl"><%= k %></th>
        <% end %>
      </thead>
      <tbody>
        <tr class="table-row">
          <td class="row-header">Breach High</td>
            <% @onhl_period_stats_hash[:onh_period].each do |k, v| %>
            <td class="col-<%= k %>"><%= v %></td>
          <% end %>
        </tr>
        <tr class="table-row">
          <td class="row-header">Breach Low</td>
            <% @onhl_period_stats_hash[:onl_period].each do |k, v| %>
            <td class="col-<%= k %>"><%= v %></td>
          <% end %>
        </tr>
        <tr class="table-row">
          <td class="row-header">Cummulative <br> Breach High</td>
            <% @onhl_period_stats_hash[:acc_onh].each do |k, v| %>
            <td class="col-<%= k %>"><%= v %></td>
          <% end %>
        </tr>
        <tr class="table-row">
          <td class="row-header">Cummulative <br> Breach Low</td>
            <% @onhl_period_stats_hash[:acc_onl].each do |k, v| %>
            <td class="col-<%= k %>"><%= v %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
</div>
