<tr id="<%= dom_id stats %>">
  <td>
    <%= stats.trading_day %>
  </td>

  <td>
    <%= stats.breach_onh %>
  </td>

  <td>
    <%= stats.breach_onl %>
  </td>

  <td>
    <%= stats.breach_fhh %>
  </td>

  <td>
    <%= stats.breach_fhl %>
  </td>

  <td>
    <%= stats.breach_ah %>
  </td>

  <td>
    <%= stats.breach_al %>
  </td>

</tr>
