<div id="<%= dom_id stats %>">
  <p>
    <strong>Trading day:</strong>
    <%= stats.trading_day %>
  </p>

  <p>
    <strong>Breach onh:</strong>
    <%= stats.breach_onh %>
  </p>

  <p>
    <strong>Breach onl:</strong>
    <%= stats.breach_onl %>
  </p>

  <p>
    <strong>Breach fhh:</strong>
    <%= stats.breach_fhh %>
  </p>

  <p>
    <strong>Breach fhl:</strong>
    <%= stats.breach_fhl %>
  </p>

  <p>
    <strong>Breach ah:</strong>
    <%= stats.breach_ah %>
  </p>

  <p>
    <strong>Breach al:</strong>
    <%= stats.breach_al %>
  </p>

</div>
