<p style="color: green"><%= notice %></p>

<%= render @stat %>

<div>
  <%= link_to "Edit this stats", edit_stat_path(@stat) %> |
  <%= link_to "Back to stats", stats_index_path %>

  <%= button_to "Destroy this stats", @stat, method: :delete %>
</div>
