<!DOCTYPE html>
<html>
  <head>
    <title>Es Stats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <h1>ES Stats<br>
        <small>Statistics as of <%= @last_trading_day.strftime("%A, %B %d %Y") %></small>
      </h1>
    </div>
    <%= yield %>
    <div class="footer">
      <p>Site by Paul Probst, 2022</p>
    </div>
  </body>
</html>
